<h3>
  <div class="text-center">
    <%= controller_name.humanize + ":" %>
    <%= action_name.humanize %>
    <div class="badge badge-info">
      <%= @users.count %>
    </div>
  </div>
</h3>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Email</th>
      <th>Tenants</th>
      <th>Accepted Invitation?</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to user.id, user %>
        </td>
        <td>
          <%= user.email %>
        </td>
        <td>
          <%= user.tenants.compact.join(',') %>
        </td>
        <td>
          <% if user.created_by_invite? %>
            <span class="badge bg-secondary">
               created_by_invite
            </span>

             <% if user.invitation_accepted_at.present? %>
               <%= user.invitation_accepted_at %>
               <span class="badge bg-secondary">
                 invitation accepted
               </span>
             <% else %>

               <span class="badge bg-secondary">
               <%= button_to 'Resend Invitation', resend_invitation_user_path(user.id), method: :patch %>
               </span>
             <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
